<div class="card bg-light">
    <div class="card-body">
        <h5 class="card-title text-center">{{citas.length == 0 ? 'No hay citas para mostrar' : 'Listado de Citas'}}</h5>
    </div>
</div>

<div class="card mt-3" *ngFor="let cita of citas">
    <div class="card-body">
        <p class="card-text"><span>Nombre: </span>{{cita.nombre}}</p>
        <p class="card-text"><span>Fecha: </span>{{cita.fecha}}</p>
        <p class="card-text"><span>Hora: </span>{{cita.hora}}</p>
        <p class="card-text"><span>Síntomas: </span>{{cita.sintomas}}</p>

        <button class="btn btn-danger w-100" (click)="eliminarCita(cita.nombre)">Eliminar</button>
    </div>
</div>
